@model IEnumerable<Janglee.Models.DTO.User>

@{
    ViewData["Title"] = "Index";
}
<div class="my-5">
    <div class="container card card-cascade narrower scrollbar-ripe-malinka">
        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center">
            <h3 class="white-text mx-3 my-3 font-weight-bold">Users</h3>
        </div>
        <div class="px-4">
            <div class="table-wrapper table-responsive">
                <table class="table table-hover mb-0 text-center">
                    <thead>
                        <tr class="text-uppercase">
                            <th class="th-lg text-center font-weight-bold">
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                            <th class="th-lg text-center font-weight-bold">
                                @Html.DisplayNameFor(model => model.Fullname)
                            </th>
                            <th class="th-lg text-center font-weight-bold">
                                @Html.DisplayNameFor(model => model.Role)
                            </th>
                            <th class="th-lg text-center font-weight-bold">Modify</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fullname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role)
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-rounded btn-outline-danger" asp-action="Delete" asp-route-id="@item.Username">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
